body {
  background-color: rosybrown;
}
h1 {text-align: center;}
h2 {text-align: center;}
h2{
  font-size: 17px;
}
p {text-align: center;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  border-radius: 100%;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#a {
  quotes: "'" "'";
  font: italic 12px/30px Georgia, serif;
}
#b {
  quotes: "'" "'";
    font: italic 12px/30px Georgia, serif;
}